<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>借书成功，读者id为：</p>
<p th:text="${rname}"></p>
<p>
isbn为：</p>
<p th:text="${isbn}"></p>
<!--<p>应还日期为：</p>
<p th:text="${indate}"></p>
<script type="text/javascript">
    function getTime(){
        var date = new Date(); //创建时间对象
        var year = date.getFullYear(); //获取年
        var month = date.getMonth()+1;//获取月
        var day = date.getDate(); //获取当日
        var time = year+"-"+month+"-"+day; //组合时间
        alert("当前日期："+time);
    } </script>-->

</body>
</html>