<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/statics/css/bootstrap.min.css}" />
    <script th:src="@{/statics/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/statics/js/bootstrap.min.js}"></script>
    <title>index</title>
</head>
<body>
<div th:include="header :: copy"></div>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="col-md-2 column">
                <div class="tabbable" id="tabs-318962">
                    <ul class="nav navbar-btn">
                        <li class="active">
                            <button class="btn btn-default" type="submit" href="#panel-1" data-toggle="tab">浏览图书</button></a>

                        </li>
                        <li>
                            <button class="btn btn-default" type="submit" href="#panel-2" data-toggle="tab">读者注册</button></a>
                        </li>
                        <li>
                            <button class="btn btn-default" type="submit" href="#panel-3" data-toggle="tab">读者登录</button></a>
                        </li>
                        <li>
                            <button class="btn btn-default" type="submit" href="#panel-4" data-toggle="tab">管理员登录</button></a>
                        </li>
                    </ul></div></div>



            <div class="col-md-8 column">
                <div class="tab-content">
                    <div class="tab-pane active" id="panel-1" th:include="showbook2 :: copy">

                    </div>
                    <div class="tab-pane" id="panel-2">
                        <p>
                            <form action="/register.do" method="get">
                        <p>账号<input type="text" name="rname"></p>
                        <p>密码<input type="password" name="rpwd"></p>
                        <p>年龄<input type="text" name="rage"></p>
                        <p>性别<input type="radio" checked="checked" name="rsex" value="male">男
                            <input type="radio"  name="rsex" value="female">女</p>

                        <p><button>submit</button></p>
                        </form>
                        </p>
                    </div>
                    <div class="tab-pane" id="panel-3">
                        <p>
                            <form action="/login.do" method="get">
                        <p>rid<input type="text" name="rName"></p>
                        <p>rpwd<input type="text" name="rPwd"></p>
                        <p><button>submit</button></p>
                        </form>
                        </p>
                    </div>
                    <div class="tab-pane" id="panel-4">
                        <p>
                            <form action="/manager.do" method="get">
                        <p>账号<input type="text" name="mname"/></p>
                        <p>密码<input type="text" name="mpwd"></p>
                        <p><button>submit</button></p>
                        </form>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>