<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/statics/css/bootstrap.min.css}" />
    <script th:src="@{/statics/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/statics/js/bootstrap.min.js}"></script>
    <title>管理员登录</title>
</head>
<body>
<div th:include="header :: copy"></div>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="col-md-2 column">

                <div class="tabbable" id="tabs-318962">
                    <ul class="nav navbar-btn">
                        <li class="active">
                            <a href="#panel-1" data-toggle="tab"><button class="btn btn-default" type="submit">浏览图书</button></a>
                        </li>
                        <li>
                            <a href="#panel-2" data-toggle="tab"><button class="btn btn-default" type="submit">图书信息修改</button></a>
                        </li>
                        <li>
                            <a href="#panel-3" data-toggle="tab"><button class="btn btn-default" type="submit">读者信息修改</button></a>
                        </li>
                        <li>
                            <a href="#panel-4" data-toggle="tab"><button class="btn btn-default" type="submit">办理借阅</button></a>
                        </li>
                        <li>
                            <a href="#panel-5" data-toggle="tab"><button class="btn btn-default" type="submit">办理归还</button></a>
                        </li>
                        <li>
                            <a href="#panel-6" data-toggle="tab"><button class="btn btn-default" type="submit">读者查询</button></a>
                        </li>
                        <li>
                            <a href="/indexHtml"><button class="btn btn-default">退出登录</button></a>
                        </li>
                    </ul></div></div>
            <div class="tab-content col-md-8 column">
                <div class="tab-pane active" id="panel-1" th:include="reader :: copy_list">

                </div>
                <div class="tab-pane" id="panel-2">
                    <p>
                        <form action="/updateBook.do" method="post">
                            <div class="col-xs-4">
                    <p>isbn<input class="form-control" type="text" name="bisbn"></p>
                    <p>书名<input class="form-control" type="text" name="bname"></p>
                    <p>作者<input class="form-control" type="text" name="bwriter"></p>
                    <p>数量<input class="form-control" type="text" name="bnumber"></p>
                    <p>类别<input class="form-control" type="text" name="bsort"></p>
                    <p>出版社<input class="form-control" type="text" name="bpub"></p>
                    <p>价钱<input class="form-control" type="text" name="bprice"></p>
                    <p>介绍<input class="form-control" type="text" name="bintro"></p>
                    <!--<p>图片<input type="file" name="bpic"></p>-->
                    <p><input class="btn btn-default" type="submit" value="修改图书信息"/></p>
                </div>
                    </form>
                    </p>
                </div>
                <div class="tab-pane" id="panel-3">
                    <p>
                        <form action="/updateReader.do" method="post">
                            <div class="col-xs-4">
                    <p>账号<input class="form-control" type="text" name="rname"></p>
                    <p>密码<input class="form-control" type="text" name="rpwd"></p>
                    <p>年龄<input class="form-control" type="text" name="rage"></p>
                    <p>性别<input type="radio" checked="checked" name="rsex" value="male">男
                        <input type="radio"  name="rsex" value="female">女</p>
                    <button class="btn btn-default" type="submit">更改读者信息</button>
                </div>
                </form>
                    </p>
                </div>
                <div class="tab-pane" id="panel-4">
                    <p>
                        <form action="/record.do" method="get">
                    <p></p>
                </form>
                    </p>
                </div>
                <div class="tab-pane" id="panel-5">
                    <p>
                        Howdy, I'm in Section 5.
                    </p>
                </div>
                <div class="tab-pane" id="panel-6">
                    <p>
                        <form action="/fineReader.do" method="get">
                    <input class="form-control" name="rname">
                    <button class="btn btn-default" type="submit">查询</button>
                </form>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>