<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/statics/css/bootstrap.min.css}" />
    <script th:src="@{/statics/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/statics/js/bootstrap.min.js}"></script>
    <title>登陆后</title>
</head>
<body>
<div th:include="header :: copy"></div>
<div class="container" th:fragment="copy">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="col-md-2 column">
                你好,
                <p th:text="${username}"></p>
                <p th:text="${rName}"></p>
                <div class="tabbable" id="tabs-318962">
                    <ul class="nav navbar-btn">
                        <li>
                            <a href="#panel-1" data-toggle="tab"><button class="btn btn-default">浏览图书</button></a>
                        <li>
                        <li class="active">
                        <li>
                            <a href="#panel-2" data-toggle="tab"><button class="btn btn-default" type="submit">信息修改</button></a>
                        </li>
                        </li>
                        <li>
                            <a href="#panel-3" data-toggle="tab"><button class="btn btn-default" type="submit">查看借阅记录</button></a>
                        </li>
                        <li>
                            <a href="/indexHtml"><button class="btn btn-default">退出登录</button></a>
                        </li>
                    </ul></div></div>



                    <div class="col-md-8 column">
                    <div class="tab-content">
                        <div class="tab-pane active" id="panel-1" th:fragment="copy_list">
                            <ol>
                                <li>浏览图书：
                                    <table class="table table-bordered">
                                        <tr>
                                            <th>isbn</th>
                                            <th>书名</th>
                                            <th>作者</th>
                                            <th>库存数量</th>
                                            <th>借出数量</th>
                                            <th>分类</th>
                                            <th>出版社</th>
                                            <th>价格</th>
                                            <th>介绍</th>
                                            <!--<th>图片</th>-->

                                            <!--<th>图片</th>-->
                                        </tr>
                                        <tr th:each="listbook:${bookList}">
                                            <td th:text="${listbook.bisbn}">bisbn</td>
                                            <td th:text="${listbook.bname}">bname</td>
                                            <td th:text="${listbook.bwriter}">bwriter</td>
                                            <td th:text="${listbook.bnumber}">bnumber</td>
                                            <td th:text="${listbook.boutnumber}">boutnumber</td>
                                            <td th:text="${listbook.bsort}">bsort</td>
                                            <td th:text="${listbook.bpub}">bpub</td>
                                            <td th:text="${listbook.bprice}">bprice</td>
                                            <td th:text="${listbook.bintro}">bintro</td>
                                            <!--<td th:text="${listbook.bpic}">bpic</td>-->

                                            <!--<td>< img th:src="@{${listBook.detail}}" height="100" width="100" alt="image"/></td>-->
                                        </tr>
                                    </table>
                                </li>
                            </ol>

                        </div>
                        <div class="tab-pane" id="panel-2">
                            <p>
                                <form th:action="@{/updateReader.do}" method="post">
                                    <div class="col-xs-4">
                            <p>账号<input class="form-control" type="text" name="rname" th:value="${rName}" readonly="true"></p>

                            <p>密码<input class="form-control" type="password" name="rpwd"></p>
                            <p>年龄<input class="form-control" type="text" name="rage" th:value="${rAge}"></p>
                            <p>性别<input type="radio" checked="checked" name="rsex" value="male">男
                                <input type="radio"  name="rsex" value="female">女</p>

                            <p><button class="btn btn-default">submit</button></p></div>
                            </form>
                            </p>
                        </div>
                        <div class="tab-pane" id="panel-3">
                            <p>
                                Howdy, I'm in Section 3.
                            </p>
                        </div>
                        <div class="tab-pane" id="panel-4">
                            <p>

                            </p>
                        </div>
                    </div>
                    </div>
        </div>
    </div>
</div>

</body>
</html>