<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>updatebook</title>

</head>
<body>
<form action="/updateBook.do" method="post">
<!--
    <p>bid<input type="text" name="bid" value="1"></p>
-->
    <p>isbn<input type="text" name="bisbn" value="1234"></p>
    <p>书名<input type="text" name="bname"></p>
    <p>作者<input type="text" name="bwriter"></p>
    <p>数量<input type="text" name="bnumber"></p>
    <p>类别<input type="text" name="bsort"></p>
    <p>出版社<input type="text" name="bpub"></p>
    <p>价钱<input type="text" name="bprice"></p>
    <p>介绍<input type="text" name="bintro"></p>
    <p>图片<input type="file" name="bpic"></p>
    <p><input type="submit" value="submit"/></p>
</form>
</body>
</html>